<!--\rules only filteredtranscludeinline transcludeinline filterdtransclude transclude macrocallinline macrocallblock-->

<!DOCTYPE html>
<html lang="en">
	<head>

	<!-- Basic Page Needs
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Allstar Financial Group</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Hind:400,300,500,600,700|PT+Sans+Narrow' rel='stylesheet' type='text/css'>

	<!-- CSS
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">

	<!-- Favicon
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link rel="shortcut icon" href="images/favicon.png">

	<!-- Javascript
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Mobile Slider Nav Begin -->
	<script>
		$(function ()
		{
			var $window = $(window),
			$nav = $('.menu'),
			$button = $('#showmenu');
		
			$button.click(function() {
			
				$nav.slideToggle(700);
			});
			
			$window.on('resize', function ()
			{
				if ($window.width() < 750)
				{
					$nav.hide();
				}
				if ($window.width() > 750)
				{
					$nav.show();
				}
			});
		});
	</script>
	</head>
	<body class="allstar_fg">

<!-- Primary Page Layout
 	 –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!--HEADER-->

<header class="perma_sticky">
	<nav class="navbar">
    	<div class="container">
          	<div class="row">
        		<div class="logo-wrapper col-md-3 col-sm-4 col-xs-8"> <a href="index.html"><img src="images/fg_logo.png" class="img-responsive"/></a> </div>
        		<div id="showmenu" class="col-md-1 navbar-right"><img src="images/menu_btn.png" class="img-responsive"/></div>
        		<div class="col-md-9 col-sm-8 col-xs-12" >
              		<ul class="navbar-list menu">
            			<li class="navbar-item"><a class="navbar-link" href="index.html">HOME</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="news.html">NEWS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="about.html">ABOUT US</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="offices.html">OFFICE LOCATIONS</a></li>
            			<!--<li class="navbar-item"><a class="navbar-link" href="successes.html">RECENT SUCCESSES</a></li>-->
          			</ul>
            	</div>
      		</div>
  		</div>
  	</nav>
</header>
<!--HEADER-->

<div class="main">
	<!--{{||$:/core/templates/html-tiddler}}--> 
	<!--HERO HOME-->
	<div class="section offices">
      	<div class="container-fluid">
       	 	<h2 class="text-center">ALLSTAR Directory</h2>
    		<div class="row">
            	<div class="col-lg-3 col-md-4 col-sm-6 akr_oh">
                	<a href="akron.html" role="button"><span class="btn btn-block">Akron, OH</span></a>
                </div>
               <!--<div class="col-lg-3 col-md-4 col-sm-6 ara_ga">
                	<a href="aragon.html" role="button"><span class="btn btn-block">Aragon, GA</span></a>
                </div>-->
            	<div class="col-lg-3 col-md-4 col-sm-6 corp_hq">
                	<a href="atlanta.html" role="button"><span class="btn btn-block">Atlanta, GA</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 aub_al">
                	<a href="auburn.html" role="button"><span class="btn btn-block">Auburn, AL</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 bir_al">
                	<a href="birmingham.html" role="button"><span class="btn btn-block">Birmingham, AL</span></a>
                </div>
                <!--<div class="col-lg-3 col-md-4 col-sm-6 bre_tn">
                	<a href="brentwood.html" role="button"><span class="btn btn-block">Brentwood, TN</span></a>
                </div>-->
                <div class="col-lg-3 col-md-4 col-sm-6 bre_ny">
                	<a href="brewster.html" role="button"><span class="btn btn-block">Brewster, NY</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 cha_nc">
                	<a href="charlotte.html" role="button"><span class="btn btn-block">Charlotte, NC</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 cla_nc">
                	<a href="clayton.html" role="button"><span class="btn btn-block">Clayton, NC</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 cle_oh">
                	<a href="cleveland.html" role="button"><span class="btn btn-block">Cleveland, OH</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col_sc">
                	<a href="columbia.html" role="button"><span class="btn btn-block">Columbia, SC</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col_oh">
                	<a href="columbus.html" role="button"><span class="btn btn-block">Columbus, OH</span></a>
                </div>
         		<div class="col-lg-3 col-md-4 col-sm-6 dal_tx">
                	<a href="dallas.html" role="button"><span class="btn btn-block">Dallas, TX</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 den_co">
                	<a href="denver.html" role="button"><span class="btn btn-block">Denver, CO</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 jac_fl">
                	<a href="jacksonville.html" role="button"><span class="btn btn-block">Jacksonville, FL</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 los_ca">
                	<a href="la.html" role="button"><span class="btn btn-block">Los Angeles, CA</span></a>
                </div>
                <!--<div class="col-lg-3 col-md-4 col-sm-6 lut_fl">
                	<a href="lutz.html" role="button"><span class="btn btn-block">Lutz, FL</span></a>
                </div>  Merged with tampa-->
                <div class="col-lg-3 col-md-4 col-sm-6 nas_tn">
                	<a href="nashville.html" role="button"><span class="btn btn-block">Nashville, TN</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 new_ny">
                	<a href="newyork.html" role="button"><span class="btn btn-block">New York, NY</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 nor_ga">
                	<a href="norcross.html" role="button"><span class="btn btn-block">Norcross, GA</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 oro_az">
                	<a href="orovalley.html" role="button"><span class="btn btn-block">Oro Valley, AZ</span></a>
                </div>
            	<div class="col-lg-3 col-md-4 col-sm-6 san_ca">
                	<a href="sanfran.html" role="button"><span class="btn btn-block">San Francisco, CA</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 sta_ct">
                	<a href="stamford.html" role="button"><span class="btn btn-block">Stamford, CT</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 tam_fl">
                	<a href="tampa.html" role="button"><span class="btn btn-block">Tampa, FL</span></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 uni_ct">
                	<a href="unionville.html" role="button"><span class="btn btn-block">Unionville, CT</span></a>
                </div>
         	</div>
      	</div>
    </div>
	<footer class="section footer">
      	<div class="container-fluid">
        	<div class="row footer_text">
            	<div class="col-sm-8 col-sm-offset-1">
            		<p>Northridge Center 1, 365 Northridge Rd Suite 400 Atlanta, Georgia 30350&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;© <span class="year"></span> ALLSTAR.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;1-800-424-0132&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:info@allstarfg.com">info@allstarfg.com</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://www.linkedin.com/company/allstar-financial-group">LinkedIn</a></p>
				</div>
                <div class="col-sm-2 col-sm-offset-0 col-xs-offset-4">
                  	<a href="http://www.nasbp.org/home" target="_blank"><img src="images/nasbp.png" alt="Proud Member of NASBP"/></a>
            	</div>
            </div>
            <div class="row allstar_logo">
               	<div class="col-sm-2 col-sm-offset-5">
                  	<img src="images/allstar_logo_footer.png" alt="Allstar" class="img-responsive"/> 
            	</div>
            </div>
        </div>
	</footer>

    <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
    
    <!--{{Allstar Financial Group Google Analytics||$:/core/templates/plain-text-tiddler}}--> 
    
    <!--{{Sticky Nav Javacript||$:/core/templates/plain-text-tiddler}}--> 
    <script>
  		$(function(){
	  		var theYear = (new Date).getFullYear();
    		$('.year').html(theYear);
  		});
	</script>
	<script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50){  
                $('header').addClass("sticky");
            }
            else{
                $('header').removeClass("sticky");
            }
        });
    </script> 
	<script src='js/jquery.scrollto.js'></script> 
	<script>
        $('.scroll_link').click(function(e){
            $('html,body').scrollTo(this.hash, this.hash);
            e.preventDefault();
        });

        // not really needed
        $(window).resize(function(){
            $('.page').css({
                fontSize: Math.max(Math.min($(window).outerWidth() / (1 * 6), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY)) + 'px',
                lineHeight: $(window).height() + 'px'
            });
        }).resize();
    </script> 

    <!-- responsive tabs --> 
    <script src="js/tabs.js"></script> 
    <script>
		  var myTabs = tabs({
			el: '#tabs',
			tabNavigationLinks: '.c-tabs-nav__link',
			tabContentContainers: '.c-tab'
		  });
		
		  myTabs.init();
    </script>
    
    
    
    <script>
		$(document).ready(function() {
		
		/* Every time the window is scrolled ... */
		$(window).scroll( function(){
		
			/* Check the location of each desired element */
			$('.hideme').each( function(i){
				var bottom_of_object = $(this).offset().top + $(this).outerHeight();
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				/* If the object is completely visible in the window, fade it it */
				if( bottom_of_window > bottom_of_object ){
					$(this).animate({'opacity':'1', 'top': '1px'},1800);
				}
			}); 
		
		});
		
	});
    </script>
    <script src="js/jquery.rwdImageMaps.min.js"></script> 
	<script>
		$(document).ready(function(e) {
			$('img[usemap]').rwdImageMaps();
			
			$('area').on('click', function() {
				alert($(this).attr('alt') + ' clicked');
			});
		});
	</script>
    
</body>
</html>
