<!--\rules only filteredtranscludeinline transcludeinline filterdtransclude transclude macrocallinline macrocallblock-->

<!DOCTYPE html>
<html lang="en">
	<head>

	<!-- Basic Page Needs
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Allstar Financial Group</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Hind:400,300,500,600,700|PT+Sans+Narrow' rel='stylesheet' type='text/css'>

	<!-- CSS
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">

	<!-- Favicon
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link rel="shortcut icon" href="images/favicon.png">

	<!-- Javascript
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Mobile Slider Nav Begin -->
	<script>
		$(function ()
		{
			var $window = $(window),
			$nav = $('.menu'),
			$button = $('#showmenu');
		
			$button.click(function() {
			
				$nav.slideToggle(700);
			});
			
			$window.on('resize', function ()
			{
				if ($window.width() < 750)
				{
					$nav.hide();
				}
				if ($window.width() > 750)
				{
					$nav.show();
				}
			});
		});
	</script>
	</head>
	<body class="allstar_fg">

<!-- Primary Page Layout
 	 –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!--HEADER-->

<header>
	<nav class="navbar">
    	<div class="container">
          	<div class="row">
        		<div class="logo-wrapper col-md-3 col-sm-4 col-xs-8"> <a href="index.html"><img src="images/fg_logo.png" class="img-responsive"/></a> </div>
        		<div id="showmenu" class="col-md-1 navbar-right"><img src="images/menu_btn.png" class="img-responsive"/></div>
        		<div class="col-md-9 col-sm-8 col-xs-12" >
              		<ul class="navbar-list menu">
            			<li class="navbar-item"><a class="navbar-link" href="index.html">HOME</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="news.html">NEWS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="aboutus.html">ABOUT US</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="directory.html">OFFICE LOCATIONS</a></li>
            			<!--<li class="navbar-item"><a class="navbar-link" href="successes.html">RECENT SUCCESSES</a></li>-->
          			</ul>
            	</div>
      		</div>
  		</div>
  	</nav>
</header>
<!--HEADER-->

<div class="main">
	<!--{{||$:/core/templates/html-tiddler}}--> 
	<!--HERO HOME-->
	<div class="section hero success">
      	<div class="container">
    		<h1>Recent Successes - July 2014</h1>
  		</div>
    </div>
	<div class="section chart">
      	<div class="container">
    		<div class="row">
          		<div class="col-md-12">
        			<table class="table table-bordered table-striped">
                    	<tr class="info">
                        	<th class="col-md-8 col-sm-6">Contract Bonds</th>
                            <th class="col-md-2 col-sm-2">State</th>
                            <th class="col-md-2 col-sm-4">Limit</th>
                        </tr>
                        <tr>
                        	<td>Gypsum Wallboard &amp; Acoustical</td>
                            <td>OH</td>
                            <td>$ 2,065,800</td>
                        </tr>
                         <tr>
                        	<td>Sidewalk Construction</td>
                            <td>CO</td>
                            <td>$ 1,409,426</td>
                        </tr>
                         <tr>
                        	<td>Hardscape</td>
                            <td>SC</td>
                            <td>$ 995,362</td>
                        </tr>
                         <tr>
                        	<td>Parking Lot Improvements</td>
                            <td>VA</td>
                            <td>$ 599,008</td>
                        </tr>
                         <tr>
                        	<td>Repair Electrical Switchgear</td>
                            <td>MS</td>
                            <td>$ 576,149</td>
                        </tr>
                    </table>
        			<table class="table table-bordered table-striped">
                    	<tr class="info">
                        	<th class="col-md-8 col-sm-6">Commercial Surety</th>
                            <th class="col-md-2 col-sm-2">State</th>
                            <th class="col-md-2 col-sm-4">Limit</th>
                        </tr>
                        <tr>
                        	<td>Erosion Control Performance</td>
                            <td>GA</td>
                            <td>$ 57,000</td>
                        </tr>
                         <tr>
                        	<td>Appraisal Management</td>
                            <td>NC</td>
                            <td>$ 25,000</td>
                        </tr>
                         <tr>
                        	<td>Retail Marijuana Excise Tax</td>
                            <td>CO</td>
                            <td>$ 20,000</td>
                        </tr>
                         <tr>
                        	<td>Medical Marijuana</td>
                            <td>CO</td>
                            <td>$ 5,000</td>
                        </tr>
                    </table>
        			<table class="table table-bordered table-striped">
                    	<tr class="info">
                        	<th class="col-md-8 col-sm-6">Court / Probate Bonds</th>
                            <th class="col-md-2 col-sm-2">State</th>
                            <th class="col-md-2 col-sm-4">Limit</th>
                        </tr>
                        <tr>
                        	<td>Appeal</td>
                            <td>DC</td>
                            <td>$ 45,000</td>
                        </tr>
                         <tr>
                        	<td>Discharge of Lien</td>
                            <td>TN</td>
                            <td>$ 9,779</td>
                        </tr>
                    </table>
        			<table class="table table-bordered table-striped">
                    	<tr class="info">
                        	<th class="col-md-8 col-sm-6">Fidelity / Fiduciary</th>
                            <th class="col-md-2 col-sm-2">State</th>
                            <th class="col-md-2 col-sm-4">Limit</th>
                        </tr>
                        <tr>
                        	<td>Commercial Crime</td>
                            <td>OH</td>
                            <td>$ 1,000,000</td>
                        </tr>
                         <tr>
                        	<td>Lost Instrument</td>
                            <td>CO</td>
                            <td>$ 600,000</td>
                        </tr>
                         <tr>
                        	<td>Medicaid</td>
                            <td>FL</td>
                            <td>$ 250,000</td>
                        </tr>
                         <tr>
                        	<td>Financially Responsible Officer</td>
                            <td>FL</td>
                            <td>$ 100,000</td>
                        </tr>
                         <tr>
                        	<td>Commercial Crime</td>
                            <td>CT</td>
                            <td>$ 50,000</td>
                        </tr>
                    </table>
        			<table class="table table-bordered table-striped">
                    	<tr class="info">
                        	<th class="col-md-6 col-sm-4">Insurance</th>
                            <th class="col-md-2 col-sm-3">Coverage Type</th>
                            <th class="col-md-2 col-sm-2">State</th>
                            <th class="col-md-2 col-sm-3">Premium</th>
                        </tr>
                        <tr>
                        	<td>Hospital Mgmt. Consultants</td>
                            <td>D&amp;O</td>
                            <td>OH</td>
                            <td>$ 78,750</td>
                        </tr>
						<tr>
                        	<td>Lawyers Association</td>
                            <td>D&amp;O/E&amp;O</td>
                            <td>GA</td>
                            <td>$ 54,000</td>
                        </tr>
                        <tr>
                        	<td>Building Materials Dealer</td>
                            <td>GL</td>
                            <td>AL</td>
                            <td>$ 47,000</td>
                        </tr>
                        <tr>
                        	<td>Logging Contractor</td>
                            <td>Equipment</td>
                            <td>AL</td>
                            <td>$ 13,000</td>
                        </tr>
                        <tr>
                        	<td>Lessor's Risk</td>
                            <td>Excess Liability</td>
                            <td>GA</td>
                            <td>$ 10,200</td>
                        </tr>
                        <tr>
                        	<td>Property Managers</td>
                            <td>Professional</td>
                            <td>GA</td>
                            <td>$ 8,300</td>
                        </tr>
                        <tr>
                        	<td>Architect</td>
                            <td>Professional</td>
                            <td>GA</td>
                            <td>$ 7,500</td>
                        </tr>
                        <tr>
                        	<td>Electrical Contractor</td>
                            <td>Excess Liability</td>
                            <td>GA</td>
                            <td>$ 3,057</td>
                        </tr>
                    </table>
      			</div>
        	</div>
    		<div class="row">
          		<div class="col-lg-12"><br><img src="images/hr_styled.png" class="img-responsive"> </div>
            </div>
        </div>
    </div>
	
	<footer class="section footer">
      	<div class="container-fluid">
        	<div class="row footer_text">
            	<div class="col-sm-8 col-sm-offset-1">
            		<p><!--Northridge Center 1, -->365 Northridge Rd Suite 400 Atlanta, Georgia 30350&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;© <span class="year"></span> Allstar.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;1-800-424-0132&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:info@allstarfg.com">info@allstarfg.com</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://www.linkedin.com/company/allstar-financial-group">LinkedIn</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a  href="privacy.html">Privacy</a></p>
				</div>
                <div class="col-sm-2 col-sm-offset-0 col-xs-offset-4">
                  	<a href="http://www.nasbp.org/home" target="_blank"><img src="images/nasbp.png" alt="Proud Member of NASBP"/></a>
            	</div>
            </div>
            <div class="row allstar_logo">
               	<div class="col-sm-2 col-sm-offset-5">
                  	<img src="images/allstar_logo_footer.png" alt="Allstar" class="img-responsive"/> 
            	</div>
            </div>
        </div>
	</footer>

    <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
    
    <!--{{Allstar Financial Group Google Analytics||$:/core/templates/plain-text-tiddler}}--> 
    
    <!--{{Sticky Nav Javacript||$:/core/templates/plain-text-tiddler}}--> 
    <script>
  		$(function(){
	  		var theYear = (new Date).getFullYear();
    		$('.year').html(theYear);
  		});
	</script>
	<script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50){  
                $('header').addClass("sticky");
            }
            else{
                $('header').removeClass("sticky");
            }
        });
    </script> 
	<script src='js/jquery.scrollto.js'></script> 
	<script>
        $('.scroll_link').click(function(e){
            $('html,body').scrollTo(this.hash, this.hash);
            e.preventDefault();
        });

        // not really needed
        $(window).resize(function(){
            $('.page').css({
                fontSize: Math.max(Math.min($(window).outerWidth() / (1 * 6), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY)) + 'px',
                lineHeight: $(window).height() + 'px'
            });
        }).resize();
    </script> 

    <!-- responsive tabs --> 
    <script src="js/tabs.js"></script> 
    <script>
      var myTabs = tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });
    
      myTabs.init();
    </script>
    
    
    
    <script>
	$(document).ready(function() {
    
    /* Every time the window is scrolled ... */
    $(window).scroll( function(){
    
        /* Check the location of each desired element */
        $('.hideme').each( function(i){
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){
                $(this).animate({'opacity':'1', 'top': '1px'},1800);
            }
        }); 
    
    });
    
});</script>

</body>
</html>
