<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Basic Page Needs
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Allstar Financial Group</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Hind:400,300,500,600,700|PT+Sans+Narrow' rel='stylesheet' type='text/css'>

	<!-- CSS
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">

	<!-- Favicon
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link rel="shortcut icon" href="images/favicon.png">

	<!-- Javascript
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Mobile Slider Nav Begin -->
	<script>
		$(function ()
		{
			var $window = $(window),
			$nav = $('.menu'),
			$button = $('#showmenu');
		
			$button.click(function() {
			
				$nav.slideToggle(700);
			});
			
			$window.on('resize', function ()
			{
				if ($window.width() < 750)
				{
					$nav.hide();
				}
				if ($window.width() > 750)
				{
					$nav.show();
				}
			});
		});
	</script>
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>
	<body class="allstar_fg">

<!-- Primary Page Layout
 	 –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!--HEADER-->

<header>
	<nav class="navbar">
    	<div class="container">
          	<div class="row">
        		<div class="logo-wrapper col-md-3 col-sm-4 col-xs-6"> <a href="index.html"><img src="images/fg_logo.png" alt="Allstar Financial Group" class="img-responsive"/></a> </div>
        		<div id="showmenu" class="col-md-1 navbar-right"><img src="images/menu_btn.png" class="img-responsive"/></div>
        		<div class="col-md-9 col-sm-8 col-xs-12" >
              		<ul class="navbar-list menu">
            			<li class="navbar-item"><a class="navbar-link" href="index.html">HOME</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="news.html">NEWS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="aboutus.html">ABOUT US</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="careers.html">CAREERS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="directory.html">OFFICE LOCATIONS</a></li>
            			<!--<li class="navbar-item"><a class="navbar-link" href="successes.html">RECENT SUCCESSES</a></li>-->
          			</ul>
            	</div>
      		</div>
  		</div>
  	</nav>
</header>
<!--HEADER-->

<div class="main">
	<!--{{||$:/core/templates/html-tiddler}}--> 
	<!--HERO HOME-->
	<div class="section" id="News">
      	<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-story">
                        <h2 class="post-title">Allstar Surety partners with Fair American Insurance and Reinsurance Co.</h2>

                        <p>ATLANTA, GA (March 2, 2016) &ndash; Allstar Surety, one of the largest U.S. standard and non-standard Managing General Agents (MGA), has partnered with Fair American Insurance and Reinsurance Company (FAIRCO). Allstar Surety will operate as a Program Administrator for FAIRCO with underwriting authority providing agents timely expert service in the surety marketplace. This program will focus on small to medium non-standard and standard contract surety, as well as commercial surety bonds.</p>
                        
                        <p>&ldquo;We look forward to a long and successful relationship with FAIRCO,&rdquo; said Jeff Booth Senior Vice President and Chief Underwriting Officer of Allstar Surety. &ldquo;This partnership will provide Allstar with a dynamic surety program to fully service our existing agents and offer new agents an outstanding surety market.&rdquo;</p>
                        
                        <p>Paul Clauss, Director of Programs at FAIRCO, commented saying, &quot;FAIRCO&#39;s focus from the very beginning has been to partner with the best administrators in the business. Partnering with Allstar Surety provides us the opportunity to work with the best and the brightest people in this unique and specialized niche, allowing us to expand profitably nationwide.&quot; FAIRCO is A.M. Best Rated &quot;A&quot; (Excellent) - Financial Size Category XV, and is Treasury Listed to $24,306,000.</p>
                        
                        <p>Allstar Surety is a division of Allstar Financial Group, an Atlanta based holding company with multiple specialty MGA&#39;s across the country. Allstar has eight surety offices nationwide to fully service our agents by providing timely surety solutions.</p>
                        
                        <p>Fair American Insurance and Reinsurance Company NAIC 35157 (brand name FAIRCO), is a wholly owned subsidiary of Transatlantic Reinsurance Company, itself a subsidiary of Alleghany Corporation (NYSE:Y), is headquartered in New York and is licensed in all U.S. states and DC. Visit <a href="http://www.fairco.com" target="_blank">www.fairco.com</a> for additional information.</p>
                        
                        <p>Additional information can be found at <a href="http://www.allstarsuretybonds.com" target="_blank">allstarsuretybonds.com</a>.</p>

                    </div>
                    <hr>
                   
                </div>
            </div>
        </div>
    </div>
	<footer class="section footer">
      	<div class="container-fluid">
        	<div class="row footer_text">
            	<div class="col-sm-8 col-md-6 col-sm-offset-1">
            		<p><!--Northridge Center 1, -->365 Northridge Rd Suite 400 Atlanta, Georgia 30350&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;© <span class="year"></span> Allstar.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<nobr>1-800-424-0132</nobr>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:info@allstarfg.com">info@allstarfg.com</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://www.linkedin.com/company/allstar-financial-group">LinkedIn</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://allstarfg.actonservice.com/acton/form/16472/0026:d-0001/0/-/-/-/-/index.htm" target="_blank">Join Our Mailing List</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a  href="privacy.html">Privacy</a></p>
				</div>
                <div class="col-sm-1 col-sm-offset-0 col-xs-offset-4 text-center">
                  	<a href="http://www.nasbp.org/home" target="_blank"><img src="images/nasbp.png" alt="Proud Member of NASBP" class="img-responsive"/></a>
            	</div>
                <div class="col-sm-2 col-sm-offset-0 col-xs-offset-4 text-center">
                    <img src="images/Target-Markets-LOGO.png" alt="Target Markets - Program Administrators Association" class="img-responsive"/>
            	</div>
            </div>
            <div class="row allstar_logo">
               	<div class="col-sm-2 col-sm-offset-5">
                  	<img src="images/allstar_logo_footer.png" alt="Allstar" class="img-responsive"/> 
            	</div>
            </div>
        </div>
	</footer>

    <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
    
    <!--{{Allstar Financial Group Google Analytics||$:/core/templates/plain-text-tiddler}}--> 
    
    <!--{{Sticky Nav Javacript||$:/core/templates/plain-text-tiddler}}--> 
    <script>
  		$(function(){
	  		var theYear = (new Date).getFullYear();
    		$('.year').html(theYear);
  		});
	</script>
	<script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50){  
                $('header').addClass("sticky");
            }
            else{
                $('header').removeClass("sticky");
            }
        });
    </script> 
	<script src='js/jquery.scrollto.js'></script> 
	<script>
        $('.scroll_link').click(function(e){
            $('html,body').scrollTo(this.hash, this.hash);
            e.preventDefault();
        });

        // not really needed
        $(window).resize(function(){
            $('.page').css({
                fontSize: Math.max(Math.min($(window).outerWidth() / (1 * 6), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY)) + 'px',
                lineHeight: $(window).height() + 'px'
            });
        }).resize();
    </script> 

    <!-- responsive tabs --> 
    <script src="js/tabs.js"></script> 
    <script>
      var myTabs = tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });
    
      myTabs.init();
    </script>
    
    
    
    <script>
	$(document).ready(function() {
    
    /* Every time the window is scrolled ... */
    $(window).scroll( function(){
    
        /* Check the location of each desired element */
        $('.hideme').each( function(i){
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){
                $(this).animate({'opacity':'1', 'top': '1px'},1800);
            }
        }); 
    
    });
    
});</script>

</body>
</html>
