<!--\rules only filteredtranscludeinline transcludeinline filterdtransclude transclude macrocallinline macrocallblock-->

<!DOCTYPE html>
<html lang="en">
	<head>

	<!-- Basic Page Needs
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Allstar Financial Group</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Hind:400,300,500,600,700|PT+Sans+Narrow' rel='stylesheet' type='text/css'>

	<!-- CSS
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">

	<!-- Favicon
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link rel="shortcut icon" href="images/favicon.png">

	<!-- Javascript
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Mobile Slider Nav Begin -->
	<script>
		$(function ()
		{
			var $window = $(window),
			$nav = $('.menu'),
			$button = $('#showmenu');
		
			$button.click(function() {
			
				$nav.slideToggle(700);
			});
			
			$window.on('resize', function ()
			{
				if ($window.width() < 750)
				{
					$nav.hide();
				}
				if ($window.width() > 750)
				{
					$nav.show();
				}
			});
		});
	</script>
	</head>
	<body class="allstar_fg">

<!-- Primary Page Layout
 	 –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!--HEADER-->

<header class="perma_sticky">
	<nav class="navbar">
    	<div class="container">
          	<div class="row">
        		<div class="logo-wrapper col-md-3 col-sm-4 col-xs-8"> <a href="index.html"><img src="images/fg_logo.png" class="img-responsive"/></a> </div>
        		<div id="showmenu" class="col-md-1 navbar-right"><img src="images/menu_btn.png" class="img-responsive"/></div>
        		<div class="col-md-9 col-sm-8 col-xs-12" >
              		<ul class="navbar-list menu">
            			<li class="navbar-item"><a class="navbar-link" href="index.html">HOME</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="news.html">NEWS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="about.html">ABOUT US</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="offices.html">OFFICE LOCATIONS</a></li>
            			<!--<li class="navbar-item"><a class="navbar-link" href="successes.html">RECENT SUCCESSES</a></li>-->
          			</ul>
            	</div>
      		</div>
  		</div>
  	</nav>
</header>
<!--HEADER-->

<div class="main">
	<!--{{||$:/core/templates/html-tiddler}}--> 
	<!--HERO HOME-->
	<div class="section hero success corp_surety">
      	<div class="container">
    		<h1>ALLSTAR Surety Division: The resources to respond to any surety bond challenge</h1>
  		</div>
    </div>
	<div class="section chart">
      	<div class="container">
    		<div class="row">
          		<div class="col-sm-4 col-sm-offset-4">
          			<img src="images/fg_logo.png" alt="Allstar Surety Division" class="logos img-responsive">
             	</div>
        	</div>
            <div class="row">
          		<div class="col-md-12">
                    <p>From our headquarters in Atlanta, Georgia and offices located coast to coast, the ALLSTAR Surety Division delivers comprehensive bond insurance and surety bond solutions. Try us with your most challenging account; as managing general underwriter for several leading A-rated/T-listed companies, we can meet the needs of virtually every surety bond client – including ones with credit issues.</p>
                    <p><strong>Take on any challenge with confidence. Call us at 404-522-3898 or 800-424-0132.</strong></p>
             	</div>
        	</div>
     	</div>
 	</div>
    <div class="section grey">
      	<div class="container">
            <div class="row office_info">
            	<div class="col-sm-3">
                    <h3>Street Address</h3>
                    <p>Northridge Center 1, Suite 400<br>
                    Atlanta, GA 30350</p>
                    <h3>Mailing Address</h3>
                    <p>P.O. Box 500698<br>
                    Atlanta, GA 31150</p>
                </div>
                <div class="col-sm-3">
                    <h3>Phone</h3>	
                    <p>404-522-3898</p>
                    <h3>Toll Free Phone</h3>
                    <p>800-424-0132</p>
                </div>
                <div class="col-sm-3">
                    <h3>Fax</h3>
                    <p>404-892-0186</p>
                    <h3>Toll Free Fax</h3>	
                    <p>800-606-8509</p>
                </div>
                <div class="col-sm-3">
                    <h3>Email</h3>	
                    <p>info@allstarfg.com</p>
                    <h3>States Serviced for Surety</h3>
                   	<p>GA, TN, AR</p>
                </div>
            </div>
      	</div>
  	</div>
   
	<footer class="section footer">
      	<div class="container-fluid">
        	<div class="row footer_text">
            	<div class="col-sm-8 col-sm-offset-1">
            		<p>Northridge Center 1, 365 Northridge Rd Suite 400 Atlanta, Georgia 30350&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;© <span class="year"></span> ALLSTAR.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;1-800-424-0132&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:info@allstarfg.com">info@allstarfg.com</p>
				</div>
                <div class="col-sm-2 col-sm-offset-0 col-xs-offset-4">
                  	<a href="http://www.nasbp.org/home" target="_blank"><img src="images/nasbp.png" alt="Proud Member of NASBP"/></a>
            	</div>
            </div>
            <div class="row allstar_logo">
               	<div class="col-sm-2 col-sm-offset-5">
                  	<img src="images/allstar_logo_footer.png" alt="Allstar" class="img-responsive"/> 
            	</div>
            </div>
        </div>
	</footer>

    <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
    
    <!--{{Allstar Financial Group Google Analytics||$:/core/templates/plain-text-tiddler}}--> 
    
    <!--{{Sticky Nav Javacript||$:/core/templates/plain-text-tiddler}}--> 
    <script>
  		$(function(){
	  		var theYear = (new Date).getFullYear();
    		$('.year').html(theYear);
  		});
	</script>
	<script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50){  
                $('header').addClass("sticky");
            }
            else{
                $('header').removeClass("sticky");
            }
        });
    </script> 
	<script src='js/jquery.scrollto.js'></script> 
	<script>
        $('.scroll_link').click(function(e){
            $('html,body').scrollTo(this.hash, this.hash);
            e.preventDefault();
        });

        // not really needed
        $(window).resize(function(){
            $('.page').css({
                fontSize: Math.max(Math.min($(window).outerWidth() / (1 * 6), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY)) + 'px',
                lineHeight: $(window).height() + 'px'
            });
        }).resize();
    </script> 

    <!-- responsive tabs --> 
    <script src="js/tabs.js"></script> 
    <script>
      var myTabs = tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });
    
      myTabs.init();
    </script>
    
    
    
    <script>
	$(document).ready(function() {
    
    /* Every time the window is scrolled ... */
    $(window).scroll( function(){
    
        /* Check the location of each desired element */
        $('.hideme').each( function(i){
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){
                $(this).animate({'opacity':'1', 'top': '1px'},1800);
            }
        }); 
    
    });
    
});</script>

</body>
</html>
